<!DOCTYPE html>
<html>
  <head>
    <title>Pokemon List from API</title>
    <link href="/styles/base.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <h1>Pokemon</h1>
      <a href="../favorites">Favorites</a>
    </header>
    <main>
      <section class="show-section">
        <% for (let i=0; i < apiResults.length; i++){ %>
        <form class="show-form" action="/pokemon" method="post">
          <h2><%= apiResults[i] %></h2>
          <input type="hidden" name="name" value="<%= apiResults[i]%>">
          <button>Add to Favorites</button>
        </form>
        <% } %>
      </section>
    </main>
    <footer>
      <p>&copy 2020 SP</p>
    </footer>
  </body>
</html>