<!DOCTYPE html>
<html>
  <head>
    <title>Favorite Pokemon</title>
    <link href="" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>

    </header>
    <main>
      <section>
        <% for (let i=0; i < savedPokemon.length; i++){ %>
        <ul>
          <li><%= savedPokemon[i] %></li>
        </ul>
        <% } %>
      </section>
    </main>
  </body>
</html>