<!DOCTYPE html>
<html>
  <head>
    <title>Favorite Pokemon</title>
    <link href="/styles/base.css" rel="stylesheet" type="text/css">
  </head>
  <body> 
    <header>
      <h1>Favorites</h1>
      <a href="/">Pokemon</a>
    </header>
    <main class="favorite-main">
      <section class="favorite-section">
        <% for (let i=0; i < savedPokemon.length; i++){ %>
        <ul>
          <li><%= savedPokemon[i] %></li>
        </ul>
        <% } %>
      </section>
    </main>
    <footer>
      <p>&copy 2020 SP</p>
    </footer>
  </body>
</html>